
p{
    color: #922a6f;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

h1 {
    color: #1613c9;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    
}


nav>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:cursive;
    color: rgb(223, 65, 8);
    font-size: 20px;
}