
p{
    color: #922a6f;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

h1 {
    color: #a513c9;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    
}


.button{
    text-align: center;
    color: chocolate;
    margin: 10px;
    padding: 10px;

}
